{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
    {% if options %}
        <ul style="list-style-type: none; padding: 0">
            {% for movie in options %}
                <li><a class="movie-list-item" href="{{ url_for('find_movie', movie_id=movie.id) }}"> {{ movie.title }} - {{ movie.release_date }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No movie available with this name.</p>
    {% endif %}
</div>
{% endblock %}